extends layout

block content
    .bg-light.p-3
        .project.mb-3
            if session.user_id == project.user_id
                //- modal to add update 
                .float-right
                    a#delete_project.btn.btn-danger(href=`/projects/${project.project_id}/delete`) delete project

            h2 #{project.title}
            p.my-0 proposed by #[a(href=`/users/${project.user_id}`) #{project.username}]
            h6.small.mb2=project.deadline 
            
            h4 Project Description
            p #{project.description}

            h4 Progress
            p #{project.amount_pledged} pledged out of #{project.fund_goal} total
            .progress
                - 
                    progress_proportion = (project.amount_pledged / project.fund_goal) * 100
                    progress_str = Number((progress_proportion).toFixed(0)) + "%"
                .progress-bar(style=`width: ${progress_str};`) 
                    if progress_proportion > 0
                        span #{progress_str}
            p Deadline: #{project.deadline}

            button#pledge.btn.btn-primary make pledge

        if updates
            h4 Updates      

            if session.user_id == project.user_id
                .update_submission.mb-3                    
                    form(action=`/projects/${project.project_id}/add_update`, method="post", id="add_update")
                        .form-group 
                            label(for="update") Add an update
                            textarea.form-control(name="update", id="update", placeholder="update", rows="2")
                        button.btn.btn-primary.btn-sm(type="submit") Submit

            .updates.mb-3
                for update in updates
                    .card.mb-2.update
                        .card-body
                            p.card-text= update.update_description
                        .card-footer
                            | on #{update.update_time} 

        .comments
            h4 Comments

            if session && session.user_id
                .comment_submission.mb-3
                    //- h5 Add a comment
                    
                    form(action=`/projects/${project.project_id}/add_comment`, method="post", id="add_comment")
                        .form-group 
                            label(for="comment") Add a comment
                            textarea.form-control(name="comment", id="comment", placeholder="comment", rows="2")
                        button.btn.btn-primary.btn-sm(type="submit") Submit

                        //- handle submit logic w/ js. if not logged in, preventDefualt        
            
            if comments
                .comments.mb-3
                    for comment in comments
                        .card.mb-2.comment
                            .card-body
                                p= comment.comment
                            .card-footer
                                | posted by #[a(href=`/users/${comment.user_id}`) #{comment.username}] on #{comment.comment_time}