extends layout

block content
    .mb-3
        h2 Your pledges
        a.text-muted(href=`/users/${session.user_id}`) View profile

    .row
        for pledge in pledges
            .col-3
                .card.bg-light.mb-3
                    .card-header
                        span.card-text Your pledge:
                        p.card-text #{pledge.amount} BTC on #{pledge.pledge_time} 
                    .card-body.text-center
                        h4.card-title.mb-0 #{pledge.title}
                        p.card-text.mt-3 #{pledge.short_description}
                        
                        span.card-text Pledged: #{pledge.amount_pledged} of #{pledge.fund_goal}
                        .progress.progress-thin
                            - 
                                progress_proportion = (pledge.amount_pledged / pledge.fund_goal) * 100
                                progress_str = Number((progress_proportion).toFixed(0)) + "%"
                            .progress-bar(style=`width: ${progress_str};`) 
                        p.card-text Deadline: #{pledge.deadline}
                        a.btn.btn-primary.btn-sm(href=`/projects/${pledge.project_id}`) View 
