extends layout

block content
    .mb-3
        h2 #{user.username}'s projects
        a.text-muted(href=`/users/${user.user_id}`) View profile

    //- card columns 
    .row
        for project in projects
            .col-3
                .card.bg-light.mb-3
                    .card-body.text-center
                        h4.card-title.mb-0 #{project.title}
                        //- a.card-subtitle.text-muted(href=`users/${project.user_id}`) by #{project.username}
                        p.card-text.mt-3 #{project.short_description}
                        
                        span.card-text Pledged: #{project.amount_pledged} of #{project.fund_goal} BTC
                        .progress.progress-thin
                            - 
                                progress_proportion = (project.amount_pledged / project.fund_goal) * 100
                                progress_str = Number((progress_proportion).toFixed(0)) + "%"
                            .progress-bar(style=`width: ${progress_str};`) 
                        p.card-text Deadline: #{project.deadline}
                        a.btn.btn-primary.btn-sm(href=`/projects/${project.project_id}`) View 
    